<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend</title>

    <link rel="stylesheet" href="../static/css/Content.css">
    <link rel="stylesheet" href="../static/css/Friend.css">
</head>
<body>
    <div class="friend_wrap">
        <h2 class="friend_title">Friend</h2>
        <p class="friend_sub_title">좋아하는 강아지 친구들</p>
        <!--    강아지 검색  -->
        <div class="friend_input">
            <input type="search" class="search_type" placeholder="견종 검색하기">
            <input type="search" class="search_friend" placeholder="강아지 친구 검색하기">
        </div>
        <div class="friend_content">
        <!--      스크립트로 추가되는 부분  주석 처리     -->
        <!--
            <div class="friend_dog_card">
                <div class="f_dog_hbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5" height="25" viewBox="0 0 5 25">
                        <g id="그룹_162482" data-name="그룹 162482" transform="translate(-7432 -1784)">
                            <circle id="타원_9356" data-name="타원 9356" cx="2.5" cy="2.5" r="2.5" transform="translate(7432 1784)" fill="#b7b7b7"/>
                            <circle id="타원_9357" data-name="타원 9357" cx="2.5" cy="2.5" r="2.5" transform="translate(7432 1794)" fill="#b7b7b7"/>
                            <circle id="타원_9358" data-name="타원 9358" cx="2.5" cy="2.5" r="2.5" transform="translate(7432 1804)" fill="#b7b7b7"/>
                        </g>
                    </svg>
                </div>
                <div class="f_dog_card_cont">
                    <div class="f_dog_img"></div>
                    <p class="f_dog_name">구름</p>
                    <label class="f_dog_group">내향적 강아지 모음</label>
                    <div class="dog_keyword_row">
                        <label class="dog_keyword">수유동</label>
                        <label class="dog_keyword">수컷</label>
                        <label class="dog_keyword">비숑</label>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <script defer src="../static/js/Friend.js"></script>
</body>
</html>