<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/Content.css}">
    <link rel="stylesheet" th:href="@{/css/Home.css}">
    <link rel="stylesheet" th:href="@{/css/Side_menu.css}">
    <link rel="stylesheet" th:href="@{/css/Login_center.css}">
    <link rel="stylesheet" th:href="@{/css/AddFamily_Modal.css}">
    <!--    <link rel="stylesheet" href="../static/css/Home.css">-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>
<body>
<div class="layout-container">
    <div class="side-menu" th:insert="~{Side_menu :: sidebar}"></div>

    <div class="main_content">
        <!-- 메인 베너 Swiper -->
        <div class="main-banner">
            <div class="swiper mainSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide main-slide"><a href="#">
                        <img src="/img/MainBanner_1.png" alt="배너 이미지1" />
                    </div>
                    <div class="swiper-slide main-slide"><a href="/map/" onclick="openTraiWidow(); return false;">
                        <img src="/img/MainBanner_2.png" alt="배너 이미지2" />
                    </div></a>
                    <div class="swiper-slide main-slide">
                        <img src="/img/MainBanner_3.png" alt="배너 이미지3" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--    우리동네 인기 멍스타    -->
        <!--
        <div class="popular-dog">
            <span class="p_dog_title">우리동네 인기 멍스타</span>
            <div class="dog_slid">
                <div class="p_dog">
                    <div class="dog_img">
                    </div>
                    <div class="name_hart">
                        <span class="dog_name">강군</span>
                        <div class="hart_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22.903" height="20.232" viewBox="0 0 22.903 20.232">
                                <g id="heart" transform="translate(1 1)">
                                    <path id="heart-2" data-name="heart" d="M20.84,4.61a5.5,5.5,0,0,0-7.78,0L12,5.67,10.94,4.61a5.5,5.5,0,0,0-7.78,7.78l1.06,1.06L12,21.23l7.78-7.78,1.06-1.06a5.5,5.5,0,0,0,0-7.78Z" transform="translate(-1.549 -2.998)" fill="inherit" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="keyword">
                        <span class="white_label">중성화</span>
                        <span class="blue_label">활발한</span>
                        <span class="blue_label">외향적</span>
                    </div>
                </div>
            </div>
        </div>  -->
        <div class="popular_dog">
            <span class="p_dog_title">우리동네 인기 멍스타</span>
            <div class="slider_outer">
                <div id="sliderTrack" class="slider_container">
                    <!-- 강아지 카드들이 여기에 렌더링됨 -->
                </div>
            </div>
        </div>

        <!--    중간 배너   -->
        <div class="mid_banner"><a href="#">
            <img src="/img/MidBanner.png"></a>
        </div>

        <!--  모임  -->
        <span class="dog_group_title">강아지 모임</span>
        <div class="dog_group" id="D_group">
            <!-- groupList는 Script로 생성 주석안에 예시 -->
            <!--
                <div class="group_list">
                    <div class="group1">
                        <div class="groupImg"></div>
                        <div class="groupInfo">
                            <div class="g_title">내향적 강아지 모임</div>
                            <div class="g_sub_title">주인이 끌고와서 억지로 여기있는거다</div>
                            <div class="g_keyword1">
                                <label class="g_city">역삼동</label>
                                <label class="g_label">내향적</label>
                                <label class="g_label">동네 산책</label>
                            </div>
                            <div class="g_keyword2">
                                <label class="g_label">간식 나눔</label>
                                <label class="g_label">침목</label>
                            </div>
                            <div class="g_member">
                                <div class="member1"></div>
                                <div class="member1"></div>
                                <div class="member1"></div>
                                <div class="member1"></div>
                            </div>
                            <div class="g_member_count">
                                <span>10명 참여 중</span>
                            </div>
                        </div>
                    </div>
                </div>
                -->
        </div>
        <a href="/groups/list">
        <div class="more_group_btn">
            <span>모임 더 보러가기</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="6.347" height="11.894" viewBox="0 0 6.347 11.894">
                <path id="패스_83331" data-name="패스 83331" d="M.5,9.572,4.436,5.036.5.5" transform="translate(0.911 0.911)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
        </div>
        </a>
    </div>

    <div class="login-panel" th:insert="~{Login_center :: login}"></div>
</div>

<!--<script  src="../static/js/Home.js" defer></script>-->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mainSwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>


<script th:src="@{/js/Home.js}" defer></script>
<script th:src="@{/js/Side_menu.js}"></script>
<script th:src="@{/js/Login_center.js}"></script>


<script defer th:src="@{/js/AddFamily_Modal.js}"></script>

</body>
</html>