<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    어서오세요, <span th:text="${#authentication.principal.uname}">사용자</span>님
    <a th:href="@{/user/logout}">로그아웃</a>
    <a th:href="@{/dog/register}">개 추가</a>
    <a th:href="@{/dog-friends/request}">개 친구추가</a>
    <a th:href="@{/dog-friends/requests}">친구 신청목록</a>
</div>

<div sec:authorize="!isAuthenticated()">
    어서오세요, 방문자님
    <a href="/user/login">login</a>
    <a href="/user/signup">signup</a>
</div>



</body>
</html>
