<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Group_board</title>

    <link rel="stylesheet" href="/static/css/Content.css">
    <link rel="stylesheet" href="/static/css/MyPage.css">

    <link rel="stylesheet" href="/static/css/AddFamily_Modal.css">
</head>
<body>
<div class="myPage_wrap">
    <div class="myPage_title">
        <h1 class="myPage_title">MY PAGE</h1>
        <p class="myPage_sub_title">강아지가 포함되어있는 모임</p>
    </div>

    <!--   왼쪽 사이드 네비   -->
    <aside class="myPage_sidebar">
        <nav class="myPage_nav-menu">
            <button class="myPage_nav-btn active" data-tab="profile">내정보</button>
            <button class="myPage_nav-btn" data-tab="posts">내가 쓴 글</button>
            <button class="myPage_nav-btn" data-tab="bookmarks">북마크</button>
        </nav>
    </aside>

    <!--  오른쪽 컨테이너  -->
    <main class="myPage_mainContent">

        <!-- 내정보 Tab -->
        <div id="myPage_profile" class="myPage_tab_content active">
            <div class="myPage_tab_header">
                <h2>내정보</h2>
            </div>

            <div class="myPage_profile_section">
                <h3>사용중인 프로필</h3>

                <div class="myPage_dog_profiles">
                    <div class="myPage_dog_card">
                        <img src="/../static/img/쪼꼬.png" alt="초코" class="dog-image">
                        <div class="myPage_dog_info">
                            <h4>초코</h4>
                            <p>소형견 무럭 수컷</p>
                        </div>
                        <button class="myPage_dog_more_btn">⋯</button>
                    </div>

                    <div class="myPage_dog_card">
                        <img src="/../static/img/강군.png" alt="강군" class="dog-image">
                        <div class="myPage_dog_info">
                            <h4>강군</h4>
                            <p>유치원의 악동</p>
                        </div>
                        <button class="myPage_dog_more_btn">⋯</button>
                    </div>

                    <div class="myPage_add_profile">
                        <button class="myPage_add_btn" id="addProfileBtn">
                            <span class="myPage_plus_icon">+</span>
                            <span>프로필 추가</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--     내정보 변경       -->
            <div class="myPage_user_info_section">
                <div class="myPage_info_row">
                    <span class="myPage_label">개인정보</span>
                    <div class="myPage_info_group">
                        <div class="myPage_info_item">
                            <span class="myPage_field">생일</span>
                            <span class="myPage_value">2001년 12월 5일</span>
                            <button class="myPage_edit_btn">변경</button>
                        </div>
                        <div class="myPage_info_item">
                            <span class="myPage_field">성별</span>
                            <span class="myPage_value">여성</span>
                            <button class="myPage_edit_btn">변경</button>
                        </div>
                    </div>
                </div>

                <div class="myPage_info_row">
                    <span class="myPage_label">로그인 계정</span>
                    <div class="myPage_info_group">
                        <div class="myPage_info_item">
                            <span class="myPage_field">휴대폰 번호</span>
                            <span class="myPage_value">010 - 1234 - 1234</span>
                            <button class="myPage_edit_btn">변경</button>
                        </div>
                        <div class="myPage_info_item">
                            <span class="myPage_field">비밀번호 변경</span>
                            <input type="password" placeholder="현재 비밀번호" class="myPage_password_input">
                        </div>
                        <div class="myPage_info_item">
                            <span class="myPage_field">비밀번호 확인</span>
                            <input type="password" placeholder="비밀번호를 확인" class="myPage_password_input">
                            <button class="myPage_edit_btn">변경</button>
                        </div>
                    </div>
                </div>

                <div class="myPage_info_row">
                    <span class="myPage_label">연결된 서비스</span>
                    <div class="myPage_info_group">
                        <div class="myPage_info_item">
                            <div class="myPage_google_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19.827" height="19.827"
                                     viewBox="0 0 19.827 19.827">
                                    <g id="icons8-구글-로고" transform="translate(-4 -4)">
                                        <path id="패스_83353" data-name="패스 83353"
                                              d="M23.635,11.972h-.8v-.041H13.914V15.9h5.6A5.953,5.953,0,1,1,17.86,9.472l2.8-2.8a9.9,9.9,0,1,0,3.163,7.246A9.981,9.981,0,0,0,23.635,11.972Z"
                                              fill="#ffc107"/>
                                        <path id="패스_83354" data-name="패스 83354"
                                              d="M6.306,9.3l3.257,2.389a5.936,5.936,0,0,1,9.46-2.216l2.8-2.8A9.894,9.894,0,0,0,6.306,9.3Z"
                                              transform="translate(-1.163)" fill="#ff3d00"/>
                                        <path id="패스_83355" data-name="패स 83355"
                                              d="M15.021,35.958a9.867,9.867,0,0,0,6.647-2.574l-3.068-2.6a5.933,5.933,0,0,1-9.171-2.734L6.195,30.545A9.906,9.906,0,0,0,15.021,35.958Z"
                                              transform="translate(-1.107 -12.131)" fill="#4caf50"/>
                                        <path id="패स_83356" data-name="패स 83356"
                                              d="M33.721,20.041h-.8V20H24v3.965h5.6a5.968,5.968,0,0,1-2.026,2.761h0l3.068,2.6a9.59,9.59,0,0,0,3.267-7.34A9.981,9.981,0,0,0,33.721,20.041Z"
                                              transform="translate(-10.086 -8.069)" fill="#1976d2"/>
                                    </g>
                                </svg>
                            </div>
                            <span class="myPage_value">asdf@gmail.com</span>
                            <button class="myPage_unlink_btn">등록 해제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 게시글 Tab -->
        <div id="posts" class="myPage_tab_content">
            <div class="myPage_tab_header">
                <button class="myPage_tab_toggle active" data-toggle="posts-content">게시글</button>
                <button class="myPage_tab_toggle" data-toggle="comments-content">댓글</button>
            </div>

            <div id="posts-content" class="myPage_toggle_content active">
                <div class="myPage_posts_list" id="posts-container">
                    <!-- 게시글들이 JavaScript로 동적 생성됩니다 -->
                </div>
            </div>

            <!--    댓글 탭    -->
            <div id="comments-content" class="myPage_toggle_content">
                <div class="myPage_posts_list" id="comments-container">
                    <!-- 댓글들이 JavaScript로 동적 생성됩니다 -->
                </div>
            </div>
        </div>

        <!-- 북마크 Tab -->
        <div id="bookmarks" class="myPage_tab_content">
            <div class="myPage_tab_header">
                <h2>북마크</h2>
            </div>

            <div class="myPage_posts_list" id="bookmarks-container">
                <!-- 북마크들이 JavaScript로 동적 생성됩니다 -->
            </div>
        </div>
    </main>
</div>

<!-- 모달 JavaScript 추가 (HTML은 동적 생성) -->
<script src="/static/js/AddFamily_Modal.js"></script>

<script  defer src="/static/js/MyPage.js"></script>
</body>
</html>