<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend</title>

    <link rel="stylesheet" href="../../static/css/Content.css">
    <link rel="stylesheet" href="../../static/css/Friend_profile.css">
</head>
<body>
    <div class="friend_profile_wrap">
        <h2 class="friend_profile_title">Friend</h2>
        <p class="friend_profile_sub_title">좋아하는 강아지 친구들</p>
        <div class="f_profile_container">
            <div class="f_profile_left_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="38.405" height="80.14" viewBox="0 0 38.405 80.14">
                    <path id="패스_83412" data-name="패스 83412" d="M31.673,72.175.5,36.337,31.673.5" transform="translate(2.5 3.733)" fill="none" stroke="#387feb" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"/>
                </svg>
            </div>
            <div class="f_profile">
                <div class="f_profile_card">
                    <h3 class="profile_name">구름</h3>
                    <div class="profile_hart_icon">
                        <svg id="Animated_Heart" data-name="Animated Heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="39.46" height="34.444" viewBox="0 0 39.46 34.444">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Heart_Mask" data-name="Heart Mask" d="M37.966,6.043a10.377,10.377,0,0,0-14.687,0l-2,2-2-2A10.389,10.389,0,0,0,4.59,20.742l2,2,14.687,14.7,14.687-14.7,2-2a10.4,10.4,0,0,0,0-14.7Z" transform="translate(-1.549 -2.998)" fill="#eda9dd"/>
                                </clipPath>
                            </defs>
                            <g id="Animated_Heart-2" data-name="Animated Heart" clip-path="url(#clip-path)">
                                <path id="Simple_Heart" data-name="Simple Heart" d="M37.966,6.043a10.377,10.377,0,0,0-14.687,0l-2,2-2-2A10.389,10.389,0,0,0,4.59,20.742l2,2,14.687,14.7,14.687-14.7,2-2a10.4,10.4,0,0,0,0-14.7Z" transform="translate(-1.549 -2.998)" fill="#eda9dd"/>
                                <path id="Heart_Liquid" data-name="Heart Liquid" d="M-5.756-8.178c3.752-7.616,8.77-9.917,26.474,0s22.426-10.5,28.105,0,2.336,40.287,2.336,40.287H-8.026S-9.508-.562-5.756-8.178Z" transform="translate(-0.875 2.396)" fill="#eda9dd"/>
                            </g>
                        </svg>
                    </div>
                    <p class="profile_group_title">내향적 강아지 모임</p>
                    <div class="profile_keyword_row">
                        <label class="profile_Pink">수컷</label>
                        <label class="profile_blue">비숑</label>
                        <label class="profile_blue">내향적</label>
                    </div>
                    <div class="profile_keyword_row">
                        <label class="profile_blue">엄마 껌딱지 겁쟁이</label>
                        <label class="profile_blue">주변에 관심없는 나혼자 산다형</label>
                    </div>
                </div>
                <div class="f_profile_info">
                    <div class="profile_info_row">
                        <label class="profile_pink">견종</label>
                        <span class="profile_type">비숑</span>
                        <label class="profile_white">소형견</label>
                        <div class="profile_star">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38.601" height="36.856" viewBox="0 0 38.601 36.856">
                                <g id="Artboard" transform="translate(1.5 1.5)">
                                    <g id="star">
                                        <path id="Shape" d="M17.8,0l5.5,11.143,12.3,1.8L26.7,21.61l2.1,12.247-11-5.785-11,5.785L8.9,21.61,0,12.941l12.3-1.8Z" fill="#eda9dd" stroke="#eda9dd" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" fill-rule="evenodd"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="profile_info_row">
                        <label class="profile_pink">성별</label>
                        <span class="profile_gender">수컷 (중성화O)</span>
                    </div>
                    <div class="profile_gift">
                        <label class="profile_send_gift">친구에게 선물 보내기</label>
                        <div class="profile_gift_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.644" height="24.603" viewBox="0 0 24.644 24.603">
                                <g id="그룹_162474" data-name="그룹 162474" transform="translate(-1278.838 -491.139)">
                                    <path id="패스_83409" data-name="패스 83409" d="M3.516,13.42H21.128v8.806a1.258,1.258,0,0,1-1.258,1.258H4.774a1.258,1.258,0,0,1-1.258-1.258Zm8.806,10.064V8.388M1,9.646A1.258,1.258,0,0,1,2.258,8.388H22.386a1.258,1.258,0,0,1,1.258,1.258v2.516a1.258,1.258,0,0,1-1.258,1.258H2.258A1.258,1.258,0,0,1,1,12.162ZM12.444,7.13c-.55-3.749-6.29-8.177-8.411-5.095-2,2.908,2.121,6.353,7.153,5.095" transform="translate(1278.838 491.258)" fill="none" stroke="#387feb" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path id="패스_83410" data-name="패스 83410" d="M10,7.13c.55-3.749,6.29-8.177,8.411-5.095,2.005,2.908-2.121,6.353-7.153,5.095" transform="translate(1281.16 491.258)" fill="none" stroke="#387feb" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <label class="profile_pink">강아지 소개</label>
                    <p class="dog_intro">
                        닭고기 알러지가 있어요.
                        산책은 주기적으로 하고 풍성한 머리가 포인트에요.
                        옷 입는걸 싫어하고 대형견을 보면 짖어요.
                        활발한 강아지나 아기 강아지는 조금 힘들어해요.
                    </p>
                </div>
            </div>
            <div class="f_profile_right_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="38.405" height="80.14" viewBox="0 0 38.405 80.14">
                    <path id="패스_83411" data-name="패스 83411" d="M.5,72.175,31.673,36.337.5.5" transform="translate(3.732 3.733)" fill="none" stroke="#387feb" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"/>
                </svg>
            </div>
        </div>
    </div>
    <script defer src="../../static/js/Friend.js"></script>
</body>
</html>