<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
</head>
<body>
    <div class="group_wrap">
        <h2 class="group_title">Group</h2>
        <p class="group_sub_title">나와 맞는 모임을 찾아보기</p>
        <div class="group_keyword_finder">
            <div class="group_keyword_title">
                <span class="keyword_tile">같은 목적인 그룹</span>
                <div class="keyword_more">더보기 ></div>
                <div class="keyword_group_box">
                    <div class="keyword_group_img"></div>
                    <label class="keyword_label">산책</label>
                    <span class="keyword_group_name">하루 산책 3시간</span>
                </div>
            </div>
        </div>
        <div class="group_signUp">
            <span class="group_signUp_title">가입 신청중인 모임</span>
            <div class="group_signUp_box">
                <div class="group_signUp_img"></div>
                <span class="group_signUp_name">푸들은 푸들부들</span>
                <label class="keyword_label">같은 종</label>
                <div class="group_signUp_member"></div>
                <span class="group_signUp_member_count">맴버 29마리</span>
            </div>
        </div>
    </div>
</body>
</html>