<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>

<form th:action="@{/user/login}" method="post">
    <div>
        <label>이메일</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>비밀번호</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
    <div th:if="${param.error}">
        로그인 실패: 이메일 또는 비밀번호를 확인하세요.
    </div>
    <div th:if="${param.logout}">
        로그아웃 되었습니다.
    </div>
</form>
</body>
</html>
