<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register4</title>
    <link rel="stylesheet" href="../../static/css/registerCSS/Register4.css">
</head>
<body>
<body>
<div class="signup-container">
    <div class="left-side">
        <div class="foot-step-row">
            <div class="foot step1"></div>
            <div class="line line1"></div>
            <div class="foot step2"></div>
            <div class="line line2"></div>
            <div class="foot step3"></div>
            <div class="line line3"></div>
            <div class="foot step4 active"></div>
        </div>
    </div>
    <div class="right-side">
        <div class="Title-Box">
            <div class="Title">SIGN UP</div>
            <div class="Title-semi">이용약관 > 회원정보 입력 > 강아지 정보 입력 > 회원가입 완료</div>
            <div class="PITaPAT"></div>
        </div>
        <div class="Big-form">
            <div class="title-box">
                <div class="keyword-title">강아지 키워드를 선택해주세요!</div>
                <div class="keyword-semi-tit">중복선택 가능</div>
            </div>
            <div class="keyword-container">
                <div class="keyword">외향</div>
                <div class="keyword">내향</div>
                <div class="keyword">활발한</div>
                <div class="keyword">친화력</div>
                <div class="keyword">순둥이</div>
                <div class="keyword">짖어요</div>
                <div class="keyword">입질 있어요</div>
                <div class="keyword">엄마 껌딱지 겁쟁이</div>
                <div class="keyword">조심스러운 관찰형</div>
                <div class="keyword">선긋는 외톨이 야생견</div>
                <div class="keyword">초면엔 신중, 구면엔 신중</div>
                <div class="keyword">등네 대장 입진형</div>
                <div class="keyword">까칠한 지킬 앤 하이드형</div>
                <div class="keyword">신이 내린 반려특화형</div>
                <div class="keyword">패닉에 빠진 극소심형</div>
                <div class="keyword">곱게자란 막둥이형</div>
                <div class="keyword">놀 줄 아는 모범생형</div>
                <div class="keyword">모범견계의 엄친아형</div>
                <div class="keyword">쾌할한 만능 엔터테이너형</div>
                <div class="keyword">주위에 관심없는 나혼자 산다형</div>
                <div class="keyword">치고 빠지고 밀당 천재형</div>
                <div class="keyword">똥꼬발랄 핵인싸형</div>
            </div>


            <div class="form-buttons">
                <div class="form-buttons-left">
                    <button type="button" class="HOME">HOME</button>
                </div>
                <div class="form-buttons-right">
                    <button type="button" class="btn PREV">이전</button>
                    <button type="submit" class="NEXT">다음</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/registerJS/register4.js"></script>
</body>
</html>
