<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterComplete</title>
    <link rel="stylesheet" href="../../static/css/registerCSS/RegisterComplete.css">
</head>
<body>
<body>
<div class="signup-container">
    <div class="left-side">
        <div class="foot-step-row">
            <div class="foot step1"></div>
            <div class="line line1"></div>
            <div class="foot step2"></div>
            <div class="line line2"></div>
            <div class="foot step3"></div>
            <div class="line line3"></div>
            <div class="foot step4 active"></div>
        </div>
    </div>
    <div class="right-side">
        <div class="Title-Box">
            <div class="Title">SIGN UP</div>
            <div class="Title-semi">이용약관 > 회원정보 입력 > 강아지 정보 입력 > 회원가입 완료</div>
            <div class="PITaPAT"></div>
        </div>
        <div class="Big-form">
            <div class="Text-box">
                <div class="Big-Text">Welcome to PIT a PAT</div>
                <div class="Small-Text">우리 가족같은 반려견에게<br>특별한 경험과 소중한 친구들을<br>만들어주세요!</div>
            </div>

            <button class="HOME">HOME</button>
            <button class="LOGIN">로그인</button>
        </div>
    </div>
</div>
</body>
</html>
