<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register1</title>
    <link rel="stylesheet" href="../../static/css/registerCSS/Register1.css">
</head>
<body>
<body>
<div class="signup-container">
    <div class="left-side">
        <div class="foot-step-row">
            <div class="foot step1 active"></div>
            <div class="line line1"></div>
            <div class="foot step2"></div>
            <div class="line line2"></div>
            <div class="foot step3"></div>
            <div class="line line3"></div>
            <div class="foot step4"></div>
        </div>
    </div>
    <div class="right-side">
        <div class="Title-Box">
            <div class="Title">SIGN UP</div>
            <div class="Title-semi">이용약관 > 회원정보 입력 > 강아지 정보 입력 > 회원가입 완료</div>
            <div class="PITaPAT"></div>
        </div>
        <div class="Big-form">
            <div class="form-content">
                <div class="box-2">
                    <div class="form-group-row">
                        <div class="form-group half1">
                            <label for="name">Full Name</label>
                            <input type="text" id="name" />
                        </div>
                        <div class="form-group half2">
                            <label for="gender">Gender</label>
                            <select id="gender">
                                <option value="MALE">남자</option>
                                <option value="FEMALE">여자</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <div class="input-btn-wrapper">
                            <input type="email" id="email" />
                            <button type="button" id="emailCheck">중복 확인</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" /><br>
                    </div>

                    <div class="form-group">
                        <label for="password">Password Check</label>
                        <input type="password" id="passwordCheck" />
                    </div>
                </div>

                <div class="box-3">
                    <div class="form-group">
                        <label for="tel">Phone Number</label>
                        <input type="tel" id="tel" name="phone" />
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <div class="form-group-row">
                            <select id="sido">
                                <option value="">시도 선택</option>
                                <option value="서울">서울</option>
                                <option value="경기">경기</option>
                            </select>

                            <select id="sigungu">
                                <option value="">시군구 선택</option>
                            </select>

                            <select id="dong">
                                <option value="">동 선택</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="birth">Birthday</label>
                        <input type="date" id="birth" /><br>
                    </div>

                    <div class="form-group">
                        <label for="dogCount">강아지는 몇마리 있나요?</label>
                        <select id="dogCount">
                            <option value="1" selected>1마리</option>
                            <option value="2">2마리</option>
                            <option value="3">3마리</option>
                            <option value="4">4마리</option>
                            <option value="5">5마리</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="HOME">HOME</button>
            <button class="btn PREV">이전</button>
            <button class="btn NEXT">다음</button>
        </div>
    </div>
</div>
</body>
</html>
