<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register1</title>
    <link rel="stylesheet" href="../../static/css/registerCSS/Register4.css">
</head>
<body>
<body>
<div class="signup-container">
    <div class="left-side">
        <div class="foot-step-row">
            <div class="foot step1"></div>
            <div class="line line1"></div>
            <div class="foot step2"></div>
            <div class="line line2"></div>
            <div class="foot step3"></div>
            <div class="line line3"></div>
            <div class="foot step4"></div>
        </div>
    </div>
    <div class="right-side">
        <div class="Title-Box">
            <div class="Title">SIGN UP</div>
            <div class="Title-semi">이용약관 > 회원정보 입력 > 강아지 정보 입력 > 회원가입 완료</div>
            <div class="PITaPAT"></div>
        </div>
        <div class="Big-form">



            <button class="HOME">HOME</button>
            <button class="btn PREV">이전</button>
            <button class="btn NEXT">다음</button>
        </div>
    </div>
</div>
</body>
</html>
